### Importing libraries

In [1]:
import numpy as np
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Question 2

In [3]:
data["Area"].nunique()

49

### Question 4

In [4]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

### Question 5

In [5]:
data.groupby("Area")["Y2015"].count()

Area
Algeria                        1268
Angola                         1378
Benin                          1260
Botswana                       1369
Burkina Faso                   1372
Cabo Verde                     1229
Cameroon                       1443
Central African Republic       1296
Chad                           1303
Comoros                          45
Congo                          1377
Côte d'Ivoire                  1447
Djibouti                       1058
Egypt                          1473
Eswatini                       1240
Ethiopia                       1430
Ethiopia PDR                     39
Gabon                          1202
Gambia                         1115
Ghana                          1333
Guinea                         1349
Guinea-Bissau                  1040
Kenya                          1542
Lesotho                        1097
Liberia                        1134
Madagascar                     1429
Malawi                         1400
Mali                           1256
Mauritania                     1152
Mauritius                      1352
Morocco                        1381
Mozambique                     1394
Namibia                        1270
Niger                          1367
Nigeria                        1458
Rwanda                         1378
Sao Tome and Principe          1125
Senegal                        1449
Seychelles                       68
Sierra Leone                   1181
South Africa                   1395
Sudan                          1260
Sudan (former)                   53
Togo                           1226
Tunisia                        1318
Uganda                         1446
United Republic of Tanzania    1405
Zambia                         1420
Zimbabwe                       1373
Name: Y2015, dtype: int64

### Question 7

In [6]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

### Question 8

In [7]:
array  = ([[94, 89, 63],[93, 92, 48], [92, 94, 56]])

### Question 9

In [8]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### Question 10

In [9]:
data.groupby("Area")["Y2017"].count()

Area
Algeria                        1279
Angola                         1407
Benin                          1253
Botswana                       1368
Burkina Faso                   1383
Cabo Verde                     1193
Cameroon                       1441
Central African Republic       1262
Chad                           1281
Comoros                          45
Congo                          1395
Côte d'Ivoire                  1454
Djibouti                       1061
Egypt                          1458
Eswatini                       1251
Ethiopia                       1428
Ethiopia PDR                     39
Gabon                          1206
Gambia                         1116
Ghana                          1333
Guinea                         1383
Guinea-Bissau                  1076
Kenya                          1548
Lesotho                        1110
Liberia                        1135
Madagascar                     1425
Malawi                         1411
Mali                           1243
Mauritania                     1108
Mauritius                      1340
Morocco                        1369
Mozambique                     1406
Namibia                        1269
Niger                          1365
Nigeria                        1457
Rwanda                         1397
Sao Tome and Principe          1122
Senegal                        1452
Seychelles                       68
Sierra Leone                   1191
South Africa                   1395
Sudan                          1279
Sudan (former)                   53
Togo                           1234
Tunisia                        1314
Uganda                         1435
United Republic of Tanzania    1409
Zambia                         1425
Zimbabwe                       1365
Name: Y2017, dtype: int64

In [10]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Question 15

In [11]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

### Question 17

In [12]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality','Overall']
df = pd.DataFrame(lst, columns = ['Age', 'Nationality','Overall'], index = [1, 2,3] )
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92